.bike {
    margin: 0;
    padding: 0;
    cursor: pointer;

    &__image {
        display: block;
        width: 100%;
        width: 340px;
        background-color: $lightThemeBackgroundColor;
        border: 20px solid $lightThemeBackgroundColor;
        aspect-ratio: 1 / 1;
        box-shadow: -20px 60px 120px rgba(0, 0, 0, 0.44);
    }

    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-top: 18px;
        padding-left: 5px;
    }
}