.bikes {
    display: grid;
    grid-template-areas: 'title buttons'
                         'bikes bikes';
    padding: 60px 120px 60px 0;
    align-items: end;

    &__title {
        grid-area: title;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        justify-self: end;
        padding-bottom: 5px;
        grid-area: buttons;
        gap: 40px;
    }

    &__button {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        opacity: $paleOpacity;
        padding: 0;
        border: 0;
        height: min-content;
        cursor: pointer;
        background-color: transparent;
        &_active {
            color: $lightThemeColor;
            opacity: 1;
            &:hover {
                opacity: $lightThemeHoverOpacity;
            }
        }
        
        &_theme {
            &_light {
                color: $lightThemeColorPale;
                &:hover {
                    opacity: $lightThemeHoverOpacityPale;
                }
            }
            &_dark {
                color: $darkThemeColorPale;
                &:hover {
                    opacity: $darkThemeHoverOpacityPale;
                }
            }
        }
    }

    &__container {
        grid-area: bikes;
        margin-top: 120px;
    }

    &__group-container {
        display: none;
        &_active {
            display: block;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
}