.burger-menu {
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
    width: 100%;
    height: 100%;
	display: none;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
    background-color: inherit;
    padding: 144px 0 40px;
    box-sizing: border-box;

    &_active {
        display: flex;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 32px;
    }

    &__menu-item {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
    
}