.lead {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 2fr;
    column-gap: 105px;
    position: relative;
    padding-top: 83px;
    margin-top: 74px;
    grid-template-areas: "title images"
                         "subtitle images"
                         "button images"
                         "bike-name images";

    @include desktopWide {
        column-gap: 55px;
    }

    @include desktop {
        grid-template-areas: "title title"
        "subtitle images"
        "button images"
        "bike-name images";
        padding-top: 20px;
        column-gap: 35px;
    }

    @include laptop {
        grid-template-columns: 1fr;
        grid-template-areas: "title"
        "images"
        "subtitle"
        "button";
        padding-bottom: 80px;
    }

    @include tablet {
        padding-top: 40px;
    }


    &__title {
        grid-area: title;
        max-width: max-content;
    }

    &__subtitle {
        grid-area: subtitle;
    }

    &__button {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        padding: 16px 10px;
        margin-top: 54px;
        background-color: #24B47E;
        color: #ffffff;
        text-decoration: none;
        border-radius: 4px;
        grid-area: button;
        min-width: 180px;
        width: min-content;
        height: min-content;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        z-index: 1;

        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: #319E75;
            border-radius: 4px;
            transition: all .3s linear;
            z-index: -1;
        }

        &:hover::after {
            width: 100%;
        }

        @include laptop {
            margin-top: 40px;
            width: 100%;
        }

        @include phone {
            font-size: 13px;
            line-height: 19px;
            padding-top: 14px;
            padding-bottom: 13px;
        }
    }

    &__bike-name {
        display: block;
        position: relative;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        grid-area: bike-name;
        margin: 169px 0 209px;
        &::after {
            display: block;
            position: absolute;
            top: 50%;
            left: calc(100% + 30px);
            content: '';
            width: 132px;
            height: 2px;
            background-color: #D7D4D4;
        }

        @include laptop {
            display: none;
        }
    }

    &__image-container {
        display: flex;
        justify-content: space-between;
        grid-area: images;
        margin-top: -60px;

        @include desktop {
            margin-top: 0;
        }

        @include laptop {
            margin-top: 40px;
        }
    }

    &__background-image {
        aspect-ratio: 305 / 418;
        max-width: 610px;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;

        @include tablet {
            aspect-ratio: 71 / 87;
            max-width: 410px;
        }

        @include phone {
            padding-left: 30px;
        }
    }

    &__bike-image {
        position: sticky;
        top: 420px;
        width: 340px;
        height: 260px;
        margin-right: -250px;
        margin-bottom: 79px;
        object-fit: cover;
        padding: 20px 50px;
        border-radius: 20px;
        box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
        background-color: #f4f4f4;

        @include desktopWide {
            margin-right: -370px;
        }

        @include tablet {
            margin-right: -250px;
            width: 260px;
            height: 199px;
            padding: 10.67px 26.59px;
        }

        @include phone {
            width: 180.82px;
            height: 138.67px;
            padding: 10.67px 26.59px;
        }
    }
}