.lead {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 2fr;
    column-gap: 50px;
    background-image: url('../../../vendors/images/lead-background.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    padding: 80px 0 79px 120px;
    margin-top: 74px;
    grid-template-areas: "title ..."
                         "subtitle ..."
                         "button bike-image"
                         "bike-name bike-image";
    box-sizing: content-box;

    &__title {
        font-weight: 700;
        font-size: 55px;
        line-height: 60px;
        letter-spacing: -0.5px;
        grid-area: title;
        margin: 0;
        max-width: 460px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        grid-area: subtitle;
        margin: 0;
        padding-top: 50px;
        max-width: 460px;
    }

    &__button {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        padding: 16px 10px;
        margin-top: 50px;
        background-color: #24B47E;
        color: #ffffff;
        border-radius: 4px;
        grid-area: button;
        min-width: 160px;
        width: min-content;
        height: min-content;
        text-align: center;
    }

    &__bike-name {
        display: block;
        position: relative;
        width: min-content;
        white-space: nowrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        grid-area: bike-name;
        margin: 167px 0 130px;
        &::after {
            display: block;
            position: absolute;
            top: 50%;
            left: calc(100% + 30px);
            content: '';
            width: 132px;
            height: 2px;
            background-color: #D7D4D4;
        }
    }

    &__bike-image {
        position: sticky;
        top: 425px;
        width: 340px;
        height: 260px;
        object-fit: cover;
        padding: 20px 50px;
        border-radius: 50px;
        grid-area: bike-image;
        box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
        background-color: #f4f4f4;
    }
}