.page {
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-left: 120px;
    box-sizing: border-box;
    background-color: inherit;

    @include desktop {
        padding-left: 40px;
    }

    @include laptop {
        padding-right: 40px;
    }

    @include tablet {
        padding: 0 25px;
    }
}
