.surfaces {
    padding: 60px 0;
    overflow: hidden;

    &__slider-wrapper {
        display: grid;
        grid-template-areas: 'active next';
        grid-template-columns: auto 1fr;
        align-items: end;
        gap: 40px;
    }

    &__buttons-container {
        padding-top: 50px;
    }

    &__button {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &_type{
            &_previous {
                background-image: url($imgPath + 'previous-button.svg');
                margin-right: 20px;
            }
            &_next {
                background-image: url($imgPath + 'next-button.svg');
            }
        }
    }
}