.workouts {
    display: grid;
    grid-template-areas: 'title image'
                         'subtitle image'
                         'apps image';
    grid-template-rows: min-content min-content 1fr;
    column-gap: 160px;
    padding: 150px 120px 120px 0;
    
    &__title {
        grid-area: title;
    }

    &__subtitle {
        grid-area: subtitle;
    }

    &__apps {
        display: flex;
        gap: 30px;
        grid-area: apps;
    }

    &__app-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        align-self: end;
    }

    &__image {
        grid-area: image;
    }
}